# Предсказание временных рядов с помощью машинного обучения

Поработайте с данными sunspot_numbers.xlsx - это данные о ежемесячном количестве наблюдаемых пятен на солнце.

Разбейте данные на train и test (test - последние 15% данных)

1) Сделайте предсказание с помощью fbprophet и измерьте mse и mae предсказания на train и на test

2) Поработайте над созданием новых признаков (лаги, аггрегированные признаки и т.д.) и примените для предсказания линейную регрессию и какой-нибудь нелинейный алгоритм.

3) Сравните результаты алгоритмов из п.1) и п.2)

4) Сделайте предсказание с помощью модели Хольта-Уинтерса и/или попробуйте применить модели ARIMA/SARIMA для предсказания.

Какая модель получилась наилучшей?

5) Попробуйте скомбинировать наилучшие модели.

In [1]:
import pandas as pd

df = pd.read_excel("sunspot_numbers.xlsx")

In [2]:
df.tail()

                    Month  SunspotNumbers
2815  1983-08-01 00:00:00            71.8
2816  1983-09-01 00:00:00            50.3
2817  1983-10-01 00:00:00            55.8
2818  1983-11-01 00:00:00            33.3
2819  1983-12-01 00:00:00            33.4

In [ ]:
#your code here